@accentColor: #F36273;
@secondColor: #F7E293;
@thirdColor: #1DBEE8;
@fourthColor: #FDB078;
@fifthColor: #00A289;
@fontColor: #0a0a0a;


@fontHeading: 'Malgun Gothic';  
@fontText: 'MingLiU-ExtB';

:root{
  --first-color: @accentColor;
  --second-color: @secondColor;
  --third-color: @thirdColor;
  --fourth-color: @fourthColor;
  --fifth-color: @fifthColor;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
    margin: 0;
    background-color: @secondColor;
    display: grid;
    min-height: 100vh;
    grid-template-areas:
        "header aside"
        "main aside"
        "footer footer"
    ;
    @blockHeight: 100px;
    grid-template-rows: @blockHeight 3fr @blockHeight;
    grid-template-columns: 2fr 1fr;
    font-family: @fontText;
    font-size: 18 px;
    scroll-behavior: smooth;

    header{
        grid-area: header;

        display: flex;
        flex-flow: row nowrap;
        max-height: 100px;

        nav {
            ul {
              position: relative;
              gap: 2em;

              li {
                display: block;
                font-size: 24px;
                font-family: 'Yu Gothic UI';
                font-weight: bolder;
                width: 100%;
                height: 100%;
                text-align: center;
          
                &:nth-child(odd):not(:nth-child(1)){
                  rotate: 6deg;
                }
                &:nth-child(even){
                  rotate: -4deg;
                }
                
                &:nth-child(1){
                  rotate: -2deg;
                }

                .header-menu (@indexstart, @index) when (@indexstart <= @index) {
                  &:nth-child(@{indexstart}) {
                    @sinus: sin(@indexstart);
                    margin-inline-start: -20% + (@indexstart - 1) * 6px - (@indexstart * 2.25px);
                    margin-block-start: (@indexstart - 1) * 6px * @sinus * 2.3;
                    z-index: @indexstart;
                  }
                  .header-menu(@indexstart + 1, @index);
                }
          
                .header-menu(1, 4);

                a{
                  display: inline-block;
                  width: 100%;
                }
              }
            }
          }
    }

    main{
        grid-area: main;
        padding: 5%;
        margin: 3%;
        background-color: color-mix(in oklab, @thirdColor, transparent 100%);

        h1, h2, h3, h4, h5, h6{
          font-family: @fontHeading;
          font-weight: bold;
          background-image: linear-gradient(to bottom,
              transparent 50%,
              @thirdColor 50%
          );
          background-size: 33% 100%;
          background-repeat: no-repeat;
          margin-block: 0%;
      }

      article{
        & > p{
          max-width: 72ch;
          margin-inline: auto;
          background-color: color-mix(in oklab, @thirdColor, rgba(255, 255, 255, 0.6) 80%);
          padding-inline: 1em;
          padding-block: 1.5em;
        }

        blockquote{
          background-color:  color-mix(in oklab, color-mix(in oklab, @accentColor, @thirdColor), transparent 40%);
          margin-inline: 15%;
          max-width: 72ch;
          padding-inline: 1em;
          padding-block: 1.5em;
          display: block;
          position: relative;
          text-align: center;

          &::before{
            content: "“";
            display: block;
            position: absolute;
            font-size: 6em;
            left: -0.15em;
            top: -0.3em;
            color: color-mix(in oklab, color-mix(in oklab, @accentColor, @thirdColor), @fontColor 40%);
          }
          &::after{
            content: "„";
            display: block;
            position: absolute;
            font-size: 6em;
            bottom: -0.2em;
            right: -0.15em;
            color: color-mix(in oklab, color-mix(in oklab, @accentColor, @thirdColor), @fontColor 40%);
          }
        }
      }
    }

    aside{
        grid-area: aside;
        padding: 5%;
        text-align: center;

        & > figure:has(> h1){
          display: flex;
          flex-flow: column nowrap;
          align-items: center;
          text-align: center;

          h1{
            width: 100%;
            height: 1.5em;
            margin-block: 0;

            background-image: linear-gradient(to bottom, transparent 50%, @accentColor 50%, @accentColor 60%, transparent 60%, transparent 70%, @accentColor 70%, @accentColor 80%, transparent 80%);
            background-size: 100% 100%;
            background-repeat: repeat-x;

            font-size: 2.5em;
            font-family: 'Castellar';
            color: @thirdColor;
            text-shadow: 0.05em 0.05em 0 @secondColor;
          }
          figcaption{
            font-family: 'Edwardian Script ITC';
            font-size: 1.8em;
            color: @accentColor;
          }
        }

        & > figure:not(:has(> h1)) {
          background-color: var(--side-bg-color);

          h1{
            text-shadow: 0.1em 0.1em 0 var(--side-text-shadow-a), -0.1em -0.1em 0 var(--side-text-shadow-b);
            font-family: 'Yu Gothic UI';
            
            margin-block: 0.2em;
            margin-inline: 0.3em;
          }

          @gap: 0.45em;
          padding-block-start: @gap;
          padding-block-end: @gap * 2;
          padding-inline: @gap;

          img{
            height: 100%;
            width: 100%;
          }

          figure{
            margin: 0;
            padding-inline: @gap;
          }

          &:nth-of-type(3n+1){
            --side-bg-color: @fourthColor;
            --side-text-shadow-a: @thirdColor;
            --side-text-shadow-b: @accentColor;
          }
          &:nth-of-type(3n+2){
            --side-bg-color: @accentColor;
            --side-text-shadow-a: @thirdColor;
            --side-text-shadow-b: @secondColor;
          }
          &:nth-of-type(3n+3){
            --side-bg-color: @thirdColor;
            --side-text-shadow-a: @accentColor;
            --side-text-shadow-b: @secondColor;
          }
        }
    }

    footer{
        grid-area: footer;
        background-color: cyan;
    }


    // background
    &::before{
      content: "background here";
      font-size: 0;
      width: 100vw;
      height: 100vh;
      position: fixed;
      display: block;
      z-index: -1;
      background-color: @secondColor;
      background-image: url(
        https://www.davidericson-fineart.com/wp-content/uploads/2023/10/30x48-summer-social-min-scaled.jpg
      );
      background-blend-mode: hard-light;
      background-size: cover;
    }
}

nav ul{
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
}

*:not(main) a{
    text-decoration: none;
}

.button{
  --shadow-color: color-mix(in oklab, var(--button-clr), black 50%);
  @textColor: color-mix(in oklab, var(--button-clr), black 40%);
  background-color: var(--button-clr);
  border-inline-end: 0.25em var(--shadow-color) solid;
  border-block-end: 0.25em var(--shadow-color) solid;
  border-inline-start: 0em var(--shadow-color) solid;
  border-block-start: 0em var(--shadow-color) solid;
  transition: 0.2s 0.4s;
  a{
    color: @textColor;

  }

  &:hover{
    --shadow-color: color-mix(in oklab, var(--button-clr), BLACK 35%);
    border-inline-end-width: 0;
    border-block-end-width: 0;
    border-inline-start-width: 0.25em;
    border-block-start-width: 0.25em;
    transition: 0.2s 0.0s;
  }

  &:active{
    --shadow-color: color-mix(in oklab, var(--button-clr), BLACK 25%);
    --new-color: color-mix(in oklab, var(--button-clr), white 30%);
    background-color: var(--new-color);
    border-inline-end-width: 0.25em;
    border-block-end-width: 0.25em;
    border-inline-start-width: 0em;
    border-block-start-width: 0em;
    transition: 0s 0s;
  }
}


/* Style all font awesome icons */
.social-icon {
  padding: 20px;
  font-size: 30px;
  width: 25px;
  height: 25px;
  text-align: center;
  text-decoration: none;

  &:hover {
    opacity: 0.7;
  }
  
}
